<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TerraScan.BusinessEntities.Properties.Settings.T2TerraScanConnectionString"
            connectionString="Data Source=DB;Initial Catalog=T2TerraScan;Persist Security Info=True;User ID=sa;Password=pass@123"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.T2TerrascanConnectionString1"
            connectionString="Data Source=db;Initial Catalog=T2Terrascan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.T2TerrascanTesting7ConnectionString"
            connectionString="Data Source=TERRASCAN\TERRASCAN;Initial Catalog=T2TerrascanTesting7;User ID=sa;Password=pass@123"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.T2TerrascanConnectionString2"
            connectionString="Data Source=DB1;Initial Catalog=T2Terrascan;User ID=sa;Password=pass@123"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.T2TerrascanConnectionString3"
            connectionString="Data Source=DOTNET2005;Initial Catalog=T2Terrascan;Persist Security Info=True;User ID=sa;Password=pass@123"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.T2TerrascanConnectionString4"
            connectionString="Data Source=DOTNET2005;Initial Catalog=T2Terrascan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.T2TerraScanConnectionString5"
            connectionString="Data Source=tfsserver;Initial Catalog=T2TerraScan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.TerrascanDevConnectionString"
            connectionString="Data Source=terrascanpms\sql2008;Initial Catalog=TerrascanDev;User ID=sa;Password=pass@123"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.TerrascanDevConnectionString1"
            connectionString="Data Source=TERRASCANPMS\SQL2008;Initial Catalog=TerrascanDev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.Terrascan23May2011ConnectionString"
            connectionString="Data Source=TERRASCANPMS\SQL2008;Initial Catalog=Terrascan23May2011;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.TerrascanClientDevDB_24072012ConnectionString"
            connectionString="Data Source=TERRASCANPMS;Initial Catalog=TerrascanClientDevDB_24072012;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.TerrascanClient20121210ConnectionString"
            connectionString="Data Source=terrascanpms;Initial Catalog=TerrascanClient20121210;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.TerrascanClientDevDB20121210ConnectionString"
            connectionString="Data Source=TERRASCANPMS;Initial Catalog=TerrascanClientDevDB20121210;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.TerrascanDevDB20130618ConnectionString"
            connectionString="Data Source=TERRASCANPMS;Initial Catalog=TerrascanDevDB20130618;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.TerrascanTestDB_20131130ConnectionString"
            connectionString="Data Source=TERRASCANPMS;Initial Catalog=TerrascanTestDB_20131130;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.TerrascanDevDB_20140709ConnectionString"
            connectionString="Data Source=TERRASCANPMS;Initial Catalog=TerrascanDevDB_20140709;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TerraScan.BusinessEntities.Properties.Settings.TerrascanDevDB_20140709ConnectionString1"
            connectionString="Data Source=terrascan-pms;Initial Catalog=TerrascanDevDB_20140709;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>