<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=560685cf8e55e824"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=24456f8da924c519"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=8cbe27080daed68a"/>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="WebService " logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add formatter="Text Formatter" attributes="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=560685cf8e55e824" traceOutputOptions="None" type="TerraScan.Helper.WebserviceTraceListener,TerraScan.Helper, Culture=neutral, PublicKeyToken=2ab0aa214cd27f2f" name="Custom Trace Listener"/>
      <add databaseInstanceName="Enterprise Library Connection String" writeLogStoredProcName="f9001_pcins_Log" addCategoryStoredProcName="pcins_Category" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=4.1.0.0, Culture=neutral, PublicKeyToken=8993b2a823bf6538" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=4.1.0.0, Culture=neutral, PublicKeyToken=8993b2a823bf6538" name="Database Trace Listener"/>
      <add toAddress="lathad@congruentindia.com" fromAddress="terrascan@exceptionhandling.com" subjectLineStarter="" subjectLineEnder="" smtpServer="citexchange.cit.congruentindia.com" smtpPort="25" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=560685cf8e55e824" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=560685cf8e55e824" name="Email TraceListener"/>
      <add source="TerraScan Application Logging" formatter="Text Formatter" log="TerraScan" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=560685cf8e55e824" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=560685cf8e55e824" name="Formatted EventLog TraceListener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=560685cf8e55e824" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="UI">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
          <add name="Custom Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="WebService ">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
          <add name="Custom Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Email TraceListener"/>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="UI Exception Policy">
        <exceptionTypes>
          <add type="System.Web.Services.Protocols.SoapException, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" postHandlingAction="None" name="SoapException">
            <exceptionHandlers>
              <add logCategory="WebService " eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=24456f8da924c519" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=1e87831177dc628c" name="Logging Handler"/>
            </exceptionHandlers>
          </add>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="UI" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=24456f8da924c519" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=1e87831177dc628c" name="Logging Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataConfiguration defaultDatabase="Enterprise Library Connection String"/>
  <connectionStrings>
    <add name="Enterprise Library Connection String" connectionString="Server=db;Database=T2Terrascan;Uid=sa;Password=pass@123;" providerName="System.Data.SqlClient"/>
    <add name="TerraScan.UI.Properties.Settings.T2TerraScanConnectionString" connectionString="Data Source=DB;Initial Catalog=T2TerraScan;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DomainNameAdmin" value="cit.congruentindia.com"></add>
    <add key="DomainName" value="cit"></add>
    <add key="ApplicationName" value="TerraScan T2"></add>
    <add key="ApplicationSave" value="TerraScan T2 - Missing Required Fields"></add>
    <add key="ApplicationDelete" value="TerraScan T2 - Delete Record"></add>
    <add key="ApplicationDuplicateCheck" value="TerraScan T2 - Duplicate Check Number"/>
    <add key="CountyName" value="Big River county"/>
    <add key="ToID" value="karthikeyanv@congruentindia.com"/>
    <add key="SMTPAddress" value="citexchange.cit.congruentindia.com"/>
    <add key="UIPolicyName" value="UI Exception Policy"/>
    <add key="ExceptionMessage" value="Error occured. Administrator might be aware of this problem.\nPlease try after sometime."/>
    <add key="ReportURL" value="http://terrascanpms.cit.congruentindia.com/ReportServer_SQL2008"/>
    <add key="ReportPath" value="/TerrascanReports/"/>
    <add key="ReportUserName" value="thilakraj"/>
    <add key="ReportPassword" value="abc@123"/>
    <add key="WebServiceUrl" value="http://localhost:3611/TerraScan.WebService/TerraScanService.asmx"/>
    <add key="ReportServiceAsmx" value="http://terrascanpms.cit.congruentindia.com/ReportServer_SQL2008/reportexecution2005.asmx"/>
    <add key="ReportViewerURL" value="http://terrascanpms.cit.congruentindia.com/ReportServer_SQL2008/Pages/ReportViewer.aspx"/>
    <add key="ActiveControlBackRedColor" value="255"/>
    <add key="ActiveControlBackGreenColor" value="255"/>
    <add key="ActiveControlBackBlueColor" value="121"/>
    <add key="BarCodeSessionTimeOut" value="3000"/>
    <!-- <add key="ConnectionString" value="Server=suganthm\TERRASCANFIELD;database=TerrascanFieldDB; integrated security = sspi;"></add> -->
    <add key="ConnectionString" value="Server=TERRASCANPMS\SQL2008;database=TerrascanSchema_15Nov2011;uid=sa;pwd=pass@123;Trusted_Connection=yes;Connection Timeout=0;Pooling=false;"/>
    <add key="FieldDomainName" value="cit"/>
    <add key="FieldMdfFilePath" value="http://t3terrascan/TerraScan.UI_1_0_40_99/TerrascanFieldDB_Data.html"/>
    <add key="FieldRequired" value="False"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key ="LoginName" value =""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <Probing privatePath="D:\TerrascanWorkArea\TerraScan_VS2008\TerraScanSmartClient\binaries\" />
      <dependentAssembly>
        <assemblyIdentity name="Interop.SHDocVw"
                          publicKeyToken="8c223dafd605f2d9"
                          culture="neutral" />
        
        <bindingRedirect oldVersion="6.1.7600.16385"
                         newVersion="1.1.0.0"/>
        
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <services>
      <service behaviorConfiguration="service1Behaviors" name="TerraScan.UI.ExternalComponentService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="Binding1" contract="TerraScan.UI.IService1"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="TerraScanServiceBehaviour" name="TerraScan.ServiceImplementation.SmartClientService">
        <endpoint address="http://localhost:8092/SmartClientService.svc" behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="" contract="TerraScan.ServiceContracts.ISmartClientService"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="Binding1">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISmartClientService" closeTimeout="10:00:00" openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="10:00:00" enabled="false"/>
          <security mode="None">
          </security>
        </binding>
        <binding name="WSHttpBinding_IServiceImplimentation" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISmartClientService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1597/TerraScan.WCFService/SmartClientService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISmartClientService" contract="WCFService.ISmartClientService" name="WSHttpBinding_ISmartClientService">
        <identity>
          <userPrincipalName value="karthikeyanv@cit.congruentindia.com"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1395/MSWCFService/service.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceImplimentation" contract="MSWCFService.IServiceImplimentation" name="WSHttpBinding_IServiceImplimentation">
      </endpoint>
      <endpoint address="http://localhost:8092/SmartClientService.svc" behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="" contract="ISmartClientServiceLocal" name="BasicHttpBinding_ISmartClientService">
        <identity>
          <userPrincipalName value="karthikeyanv@cit.congruentindia.com"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="service1Behaviors">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="TerraScanMSServiceBehaviour">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="TerraScanServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="SmartEndpointConfig">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="SmartEndpointConfig1">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>

